@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 89, 0.452);
}

.hamburger {
    display: none;
}

header {
    width: 100%;
    height: 80px;
    background: #49475f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 20px;
}

header input[type="submit"] {
    background-color: slategray;
}
header input[type="submit"]:hover {
    background-color: rgba(43, 43, 56, 0.452);
    color: white;
}
table {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: powderblue;
    align-items: center;
    text-align: center;
    padding: 20px;
} 

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background: lightslategray;
}


h4{
    color: #555;
    font-weight: bold ;
}

p{ 
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.form-input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-color: rgba(0, 0, 89, 0.452);}

.form-container form{
    max-width: 270px;
    padding: 0px 20px;
    position: absolute;
    top: 50px;
    transition: transform 1s;
}
.form-container{
    background: powderblue;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 15px o;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.req {
    width: 450px;
    height: 450px;
    margin-left: 600px;
    margin-top: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: powderblue;
    align-items: center;
    text-align: center;
    padding:50px;
}

button {
    margin-left: 20px;
    height: 35px;
    border-radius: 15px;
    width: 150px;
    background-color: slategrey;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

form a{
    font-size: 12px;
}

article {
    align-self: center;
    width: 30%;
    height: auto;
    float: auto;
    padding: 20px; 
    background-color: powderblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    position: center;
}

.col-4{
    flex-basis: 25%;
    margin: auto;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    font-size:14px ;
}

.col-4 img {
    width: 200px;
    height: 300px;
    margin: 3px;
    background-color: powderblue;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.col-4:hover{
    transform: translateY(-5px);
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    column-gap: 10px;
}
.flex-container div {
    padding: 8px 30px;
    margin: 20px 0;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

.btn{
    display: inline-block;
    background: rgba(0, 0, 89, 0.452);
    color: white;
    padding: 8px 30px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
  background:purple ;  
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.submit {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 89, 0.452);
}

.submit span:hover{
    color:rgb(2, 2, 116);
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-item {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.main {
    /* position: relative; */
    padding: 20px;
    width: 100%;
}
.main-top {
    display: flex;
    width: 100%;
}
.main-top i {
    /* position: absolute; */
    right: 0;
    margin:10px 30px;
    color: powderblue;
    cursor: pointer;
}

.book {
    display: flex;
    margin: top;
}
.book .card {
    width: 25%;
    margin: 10px;
    background-color: powderblue;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.book .card h3 {
    margin: 10px;
    text-transform: capitalize;
}
.book .card p {
    font-size: 12px;
}
.book .card button {
    background: white;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.book .card button:hover {
    background:rgba(0, 0, 89, 0.452);
}
.book .card i {
    font-size: 22px;
    padding: 10px;
}
/* Add & Remove */
.addremove {
    margin-top: 20px;
    text-transform: capitalize;
}
.addremove1 {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: powderblue;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

table{
    width: 75%;
    border-collapse: collapse;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 


@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .logo img {
        display: none;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #49475f;
        transition: 0.5s;
    }

    .nav-bar ul {
        /* z-index: 5000; */
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-4 {
        flex: 1 0 50%;
        font-size: 9px;
      }

    .col-4 img {
        background-color: powderblue;
        text-align: center;
        border-radius: 20px;
        padding: 3px;
        box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    }

    .container{
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .div-image img {
        margin-left: 140px;
        padding: 3px;
    }

    .div-image {
        padding: 3px;
    }
    .book .card {
        margin: 10px;
        background-color: powderblue;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }

    .book .card button{
        width: auto;
    }
    table {
        font-size: 10px;
    }
    
    article {
        width: 75%;
    }
}